.custom-button {
  margin: 4px;
  padding: 8px 20px;
  color: white;
  background: #409eff;
  border: 1px #409eff solid;
  border-radius: 4px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.custom-button.active{
  background: #67C23A;
  border: 1px #67C23A solid;
  
}

/* .custom-button:hover {
  background-color: red;
  border: 1px red solid;
} */
